html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

main {
    flex: 1 0 auto;
    background-color: var(--white);
}

.custom-card {
    height: 300px; /* Adjust the height as needed */
    overflow: hidden; /* Hide overflow content if it exceeds the specified height */
  }

/* Footer */
footer {
    flex-shrink: 0;
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.social-icon {
    height: 2rem;
    margin: 1rem;
    color: black;
}

.active {
    border-bottom: 2px solid blue;
}

/* Hero Image */

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/de9lbkrcb/image/upload/v1701252238/dog_hero_mnznct.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }