{% extends 'base.html' %}
{% load static%}

{% block title %}Guides{% endblock %}

{% block content %}
<h1 class="text-center p-2">Modules</h1>
<div class="container d-flex flex-row flex-wrap justify-content-center">
    {% for lessons in lessons %}
    <a href="{% url 'lesson_detail' slug=lessons.slug %}" class="modules" aria-label="Click to view {{lessons.title}}">
        <div class="card m-3 custom-card" style="width:18rem;">
            <img src="{{lessons.image.url}}" class="card-img-top" alt="{{lessons.image_alt}}">
            <div class="card-body">
                <h2 class="card-title">{{lessons.title}}</h2>
                <p class="card-text">{{lessons.excerpt|truncatechars:100}}</p>
            </div>
        </div>
    </a>
    {% endfor %}

</div>
{% endblock %}